{% extends 'base.html' %}
{% load static %}
{% block title %}
    Home
{% endblock %}
{% block scripts %}
    <link rel="stylesheet" href="{% static 'css/cards.css' %}">
{% endblock %}
{% block content %}
    <div class="conatiner">
        <div class="wrap">
            {% for room in rooms %}
                <div style="background: url('{% if room.room_type == 'HALL' %}{% static 'images/hall.png' %}{% elif room.room_type == 'KITCHEN' %}{% static 'images/kitchen.png' %}{% elif room.room_type == 'BEDROOM' %}{% static 'images/bedroom.png' %}{% endif %}')"
                     class="box one" data-room-id="{{ room.pk }}">
                    <h1>{{ room.room_name }}</h1>
                </div>
            {% endfor %}

            <div style="background: url('{% static 'images/add_new.png' %}')" class="box one" data-extra="add">
                <h1>Add New Room</h1>
            </div>
            <div style="background: url('{% static 'images/add_new.png' %}')" class="box one" data-extra="all">
                <h1>View All Devices</h1>
            </div>
        </div>
    </div>



    <script>
        $('div[data-room-id]').click(function () {
            var id = $(this).attr('data-room-id');
            window.location.href = '/devices?room=' + id;
            return false;
        });
        $('div[data-extra]').click(function () {
            var extra = $(this).attr('data-extra');
            if (extra === 'add')
                window.location.href = '/add_room';
            else if (extra === 'all')
                window.location.href = '/devices';
            return false;
        });
    </script>
{% endblock %}